* {
    box-sizing: border-box;
}

.show {
    display: block;
}

html {
    font-family: 'Dosis', sans-serif;
}

body {
    margin: 0;
}

#banner {
    background-color: #228A11;
    height: 100%;
}

h1 {
    margin-top: 0;
    padding-top: 15px;
    padding-left: 10px;
    color: white;
    font-weight: 900;
}

/*CALEB*/

button {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);

}

.tagLine,
.description {
    margin-top: 0px;
    font-size: 18px;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 15px;
    text-align: center;
}

h2 {
    margin-left: 15px;
}

#homePage {
    background-color: whitesmoke;
    height: 100vh;
    width: auto;
}

.createAccountForm,
.loginForm,
.addPortfolioForm,
.newInvestmentForm {
    background-color: RGBA(40, 108, 161, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: 0 auto;
    width: 65%;
    height: auto;
    margin: auto;
    padding: 20px;
    border: 1px;
    border-radius: 2px;
}

.loginForm {
    margin-top: 114px;
}

.loginForm,
.createAccountForm {
    padding-bottom: 2px;
}

#portfolioSection {
    margin-top: 25px;
}

.deletePortfolioButton {
    float: left;
}

.showHideSection {
    text-align: left;
}

.card,
.p2,
.p3 {
    background-color: RGBA(40, 108, 16, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: 0 auto;
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    border: 2px;
    border-radius: 5px;
    text-align: center;
}

.newInvestmentForm {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

#goToHomepage,
#goToLogin {
    color: blue;
}

#goToHomepage:hover,
#goToLogin:hover {
    color: green;
    font-style: italic;
}

.homePageParagraph,
.loginPageParagraph {
    margin-bottom: 3px;
    margin-top: 8px;
    font-size: 14px;
}

.stock {
    display: inline;
}

.removeInvestment {
    float: right;
}

fieldset {
    margin: 2px;
    margin-bottom: 3px;
}

.portfolioTitle {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-weight: 700;
}

.portfolioDescription {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


#container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
}

@media only screen and (min-width: 460px) {
    .card {
        width: 60%;
    }

    .loginForm,
    .createAccountForm {
        width: 300px;
    }
}
